<form [formGroup]="editProfileForm" id="registerForm" (ngSubmit)="editProfle()">
  <div>
    <div>
      <div>
        <div id="mySpan">
          <h5>
            <span>Account Profile</span>
          </h5>
        </div>
        <div>
          <div>
            <div>
              <label>First Name</label>
              <input
                type="text"
                placeholder="John"
                [(ngModel)]="Udata.firstName"
                formControlName="firstName"
              />
            </div>
            <div>
              <label>Last Name</label>
              <input
                type="text"
                placeholder="Doe"
                [(ngModel)]="Udata.lastName"
                formControlName="lastName"
              />
            </div>
            <div>
              <label>Phone Number</label>
              <input
                type="text"
                placeholder="+123 456 789"
                [(ngModel)]="Udata.phoneNumber"
                formControlName="phoneNumber"
              />
            </div>
            <div>
              <label>Email</label>
              <input
                type="text"
                placeholder="John@hotmail.com"
                [(ngModel)]="Udata.email"
                formControlName="email"
              />
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="editProfileForm.controls['firstName'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['firstName']?.errors?.['pattern']"
        >
          First Name must not contains numbers!
        </p>
      </ng-container>
      <ng-container *ngIf="editProfileForm.controls['firstName'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['firstName']?.errors?.['minlength']"
        >
          First Name must be minimum 3 charcters !
        </p>
      </ng-container>
      <ng-container *ngIf="editProfileForm.controls['firstName'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['firstName']?.errors?.['required']"
        >
          Please type your First Name!
        </p>
      </ng-container>
      <ng-container *ngIf="editProfileForm.controls['lastName'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['lastName']?.errors?.['pattern']"
        >
          Last Name must not contains numbers!
        </p>
      </ng-container>
      <ng-container *ngIf="editProfileForm.controls['lastName'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['lastName']?.errors?.['minlength']"
        >
          Last Name must be minimum 3 charcters !
        </p>
      </ng-container>
      <ng-container *ngIf="editProfileForm.controls['lastName'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['lastName']?.errors?.['required']"
        >
          Please type your Last Name!
        </p>
      </ng-container>
      <ng-container *ngIf="editProfileForm.controls['phoneNumber'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['phoneNumber']?.errors?.['minlength']"
        >
          Mobile number Must be at least 10 numbers!
        </p>
      </ng-container>
      <ng-container *ngIf="editProfileForm.controls['phoneNumber'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['phoneNumber']?.errors?.['maxlength']"
        >
          Mobile number Must be at most 20 numbers!
        </p>
      </ng-container>
      <ng-container *ngIf="editProfileForm.controls['phoneNumber'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['phoneNumber']?.errors?.['pattern']"
        >
          Mobile number must start with '01' and Does not contains characters.
        </p>
      </ng-container>
      <ng-container *ngIf="editProfileForm.controls['phoneNumber'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['phoneNumber']?.errors?.['required']"
        >
          Please Type your phone number!
        </p>
      </ng-container>
      <ng-container *ngIf="editProfileForm.controls['email'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['email']?.errors?.['email']"
        >
          Please type a valid email address!.
        </p>
      </ng-container>
      <ng-container *ngIf="editProfileForm.controls['email'].touched">
        <p
          class="text-danger"
          *ngIf="editProfileForm.controls['email']?.errors?.['required']"
        >
          Please Type your email address!
        </p>
      </ng-container>
      <input
        type="submit"
        class="btn btn-block btn-primary font-weight-bold py-3"
        value="Edit Profle"
        [disabled]="!editProfileForm.valid"
      />
    </div>
  </div>
</form>
