$--nav-bar-background: black ;
*{
    font-family: "Effra", Tahoma, Arial, Helvetica, sans-serif !important;
    background-color: #1a1b1d;
}
.main-nav{
    color: var(--color-text) !important;
}
.container-main{
    max-width: 950px;
}
.dropdown-item{
    color: white !important;
    background-color: black ;
}
.dropdown-item:hover , .item-hover:hover{
    color: #009ddb !important;
}
.dropdown-menu{
    background-color: black;
}
.logo{
    height: 40px;
    width: 120px;
}
// upper nav

.upper-nav{
    background-color:rgb(19, 19, 19);
    // background-size: 2940px 70px;
}
.trans{
    background-color: transparent !important;
}
