<div class="title">
  <div class="choose-seats">
    <img class="seat-img" src="assets/images/armchair.png" />
    <h2 class="title-seats">Choose Seats</h2>
  </div>
</div>
<div class="seat-info">
  <div class="seat-oriantation-info">
    <div class="seat-empty-info"></div>
    <p class="seat-status">N/A</p>
  </div>
  <div class="seat-oriantation-info">
    <div class="seat-selected-info"></div>
    <p class="seat-status">Selected</p>
  </div>
  <div class="seat-oriantation-info">
    <div class="seat-occupied-info"></div>
    <p class="seat-status">Occupied</p>
  </div>
</div>
<div class="seat-map">
  <!-- Screen  -->
  <div class="screen">
    <img
      class="screen-img"
      src="assets/images/{{ movieImg }}"
      alt="Movie Image"
    />
  </div>
  <div class="seats-container">
    <!-- Left seats -->
    <div class="left-seats">
      <div *ngFor="let row of leftSeats; let i = index" class="row-seat">
        <div
          *ngFor="let seat of row; let j = index"
          class="seat"
          [ngClass]="{
            occupied: seat.occupied,
            selected: seat.selected,
          }"
          (click)="seatClicked(seat)"
        ></div>
      </div>
    </div>
    <div class="middle-seats">
      <!-- Middle seats -->
      <div *ngFor="let row of middleSeats; let i = index" class="row-seat">
        <div
          *ngFor="let seat of row; let j = index"
          class="seat"
          [ngClass]="{
            occupied: seat.occupied,
            selected: seat.selected,
          }"
          (click)="seatClicked(seat)"
        ></div>
      </div>
    </div>
    <!-- Right seats -->
    <div class="right-seats">
      <div *ngFor="let row of rightSeats; let i = index" class="row-seat">
        <div
          *ngFor="let seat of row; let j = index"
          class="seat"
          [ngClass]="{
            occupied: seat.occupied,
            selected: seat.selected,
          }"
          (click)="seatClicked(seat)"
        ></div>
      </div>
    </div>
  </div>
</div>
<div class="seat-details">
  <div class="selected-seats">
    <span id="selected-count">{{ selectedSeats.length }}</span> Seats Selected
  </div>
  <div class="total-price">
    Total Price:
    <span id="total-price">{{
      calculateTicketPrice() | currency : "EGP "
    }}</span>
  </div>
  <button class="confirm-btn" (click)="confirmReservation()">Confirm</button>
</div>
