.booking-details {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  margin: 20px auto;
}

.booking-details h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.booking-details ul {
  list-style-type: none;
  padding: 0;
}

.booking-details ul li {
  margin-bottom: 5px;
}

.booking-details ul li strong {
  font-weight: bold;
}
