<div class="now-showing">
  <div class="what">
    <h3>Booking Details</h3>
  </div>

  <div class="movie-sec">
    <div class="sec-details">
      <div class="title">
        <h4>
          {{ movieObject.title }}
        </h4>
      </div>
      <div class="info">
        <p>
          Time: <span>{{ movieDetails.time }}</span>
        </p>
        <p>
          Location: <span>{{ movieDetails.location }}</span>
        </p>
        <p>
          Seats: @for(seat of movieDetails.seats; track seat) {
          <span>{{ seat }}, </span>
          }
        </p>
      </div>
      <button class="btn" (click)="onClose()">Confirm</button>
    </div>
    <div class="sec-img">
      <img src="assets/images/{{ movieObject.movie_image }}" alt="" />
    </div>
  </div>
</div>
