.title-header {
  text-align: center;
  margin: 20px;
  text-transform: uppercase;
  font-size: bold;
  background-color: #af8260;
  padding: 20px;
  width: 40%;
  margin: 0 auto;
  border-radius: 5px;
  color: #322c2b;
}
.movie-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 100px;
  padding: 30px;
  img {
    height: 500px;
    border-radius: 5px;
  }
  iframe {
    border-radius: 5px;
  }
}
.dashed {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px dashed #ccc;
  border-top: none;
  margin-bottom: 20px;
}
.movie-details {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 100px;
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.1rem;
  font-family: Arial, sans-serif;
}

.btn-book {
  display: flex;
  margin-bottom: 20px;
  input[type="submit"] {
    padding: 10px 20px;
    width: 10%;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
}
