<div class="now-showing">
  <div class="row">
    <h2 class="title-header">{{ Mdata.title }}</h2>
  </div>

  <div class="movie-container">
    <div>
      <img src="assets/images/{{ Mdata.movie_image }}" />
    </div>
    <div>
      <iframe
        width="560"
        height="500"
        [src]="getSafeUrl(movieTrailerCode)"
        title="Kingdom of the Planet of the Apes | Exclusive IMAX® Trailer"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
  <hr class="dashed" />
  <div class="movie-details">
    <div>
      <p>
        Genre: <span>{{ Mdata.Genre }}</span>
      </p>
      <p>
        Cast: <span>{{ Mdata.Starring }}</span>
      </p>
      <p>
        Language: <span>{{ Mdata.Language }}</span>
      </p>
      <p>
        Classification: <span>{{ Mdata.classification }}</span>
      </p>
      <p>
        Subtitle(s): <span>{{ Mdata.Subtitle }}</span>
      </p>
      <p>
        Rating: <span>{{ Mdata.rating }}</span>
      </p>
    </div>
    <div class="desc">
      <p>{{ Mdata.description }}</p>
    </div>
  </div>
  <div class="showtimes-button">
    <input
      class="btn btn-secondary btn-lg"
      (click)="sendParams()"
      type="submit"
      value="View Showtimes"
    />
  </div>
</div>
