.ImgVidContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.imgContainer{
    margin-left: 40px;
    
}
.title-header{
    text-align: center; 
    margin: 20px;
}