<h2 class="title-header">{{ Mdata.title }}</h2>

<div class="movie-container">
  <div>
    <img src="../../../assets/images/{{ Mdata.movie_image }}" />
  </div>
  <div>
    <iframe
      width="560"
      height="500"
      [src]="getSafeUrl(movieTrailerCode)"
      title="Kingdom of the Planet of the Apes | Exclusive IMAX® Trailer"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</div>
<hr class="dashed" />
<div class="movie-details">
  <div>
    <h5>{{ Mdata.title }}</h5>
    <p>Genre : {{ Mdata.Genre }}</p>
    <p>Cast : {{ Mdata.Starring }}</p>
    <p>Language : {{ Mdata.Language }}</p>
    <p>Classification : {{ Mdata.classification }}</p>
    <p>Subtitle(s) : {{ Mdata.Subtitle }}</p>
    <p>Rating : {{ Mdata.rating }}</p>
  </div>
  <div class="desc">
    <p>{{ Mdata.description }}</p>
  </div>
</div>
<div class="btn-book">
  <input (click)="sendParams()" type="submit" value="Book" />
</div>
